@CHARSET "UTF-8";
a, a:focus {
    outline: none !important;
}
body {
  padding-top: 60px;
}
.detail-row:focus {
    outline: none;
}
body.modal-open {
    overflow: auto;
}
table .pagination {
    display: inline;
    margin: 0;
}
.product-weight {
    width: 195px;
}
#prepare-table form img {
    width: 12px;
    height: 12px;
}
#prepare-table .form-inline .pull-left {
    width: 90px;
}
#manage-recipients select {
    height: 400px;
}
#manage-recipients .scan-form-controls {
    margin-top: 155px;
}
#manage-recipients .row .scan-form-controls a {
    margin-top: 10px;
}